html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    background-color: aqua;
}

.drag-and-drop-outer-container {
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: blue;
    height: 90%;
    width: 90%;
    flex-direction: column;
}

.grid-build-outer-container {
    border: 1px solid black;
    width: 80vw;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-build-container {
    background: purple;
    height: 50vw;
    width: 50vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-grid-build-container {
    width: 95%;
    height: 95%;
    border: 1px solid white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.grid-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid black;
    height: 15%;
    width: 100%;
}

.grid-cell {
    cursor: move;

    height: 100%;
    width: 15%;
    border: 1px solid blue;
    background-color: white;
}

.grid-cell.dragging-cell {
    opacity: 0.5;
}

.tile-side-bar-container {
    background-color: red;
    width: 80%;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.random-tile-outer-container {
    background: purple;
    
    cursor: move;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 60%;
    aspect-ratio: 1 / 1;
}

.random-tile-inner-container {
    cursor: move;
    border: 1px solid white;
    background-color: yellow;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;

    position: absolute;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.random-tile {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    background-color: black;
    opacity: 0.5;

    position: absolute;
}

@media screen and (orientation: portrait) {
}

@media screen and (orientation: landscape) {
    .grid-build-container {
        max-width: 65vh;
        max-height: 65vh;
    }
}