@media (min-width: 390px) {
  body {
    background-color: #c5e4f0;
  }

  .clue-container {
    height: 70px;
  }

  .dropbox {
    height: 40px;
    width: 40px;
  }

  .dragbox-outer-container {
    width: 370px;
  }

  .dragbox-top-container,
  .dragbox-mid-container,
  .dragbox-bottom-container {
    width: 100%;
  }

  .dragbox-cont {
    width: 32px;
    height: 32px;
  }

  .dragbox {
    height: 25px;
    width: 25px;
    border-radius: 6px;
    font-size: 18px;
  }
}
